body {
    font-family: 'Georgia', serif;
    margin-top: 2em;
}
.profile {
    color: #bcbcbc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}
 h1, p{
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    text-align: end;
}

h1 {
    font-size: 3em;
}
p {
    font-size: 1em;
}
.profile > img{
    height: 80px;
    width: 100px;
}
.wrapper > img{
    margin-top: 20px;
    width: 1110px;
    height: 350px;
}
h2 {
    color: #bcbcbc;
    margin-left: 10px;
}
.image-heading {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color: #bcbcbc;
}

hr {
    height:3px;
    border-width:0;
    background-color: grey;
    margin: 0.1em auto;
}

a > img {
   
    width: 350px;
    height: 350px;
    margin: 0 20px;
}

.last > div {
    padding: 0;
    display: inline-block;
    justify-content: space-between;
}

@media screen and (max-width: 994px) {
    .wrapper > img {
         width: 450px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper > img {
         width: 350px;
    }
}